<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Aulas Avancadas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Aulas Avancadas</h1>
      <h2 class="project-tagline">Zhan Zhuang Chi Kung | A Arte do Cultivo da Quietude</h2>
    </section>

    <section class="main-content">
   {{ content }}
   <center>© Zhan Zhuang Chi Kung | A Arte do Cultivo da Quietude</center>
    </section>
  <section class="page-header">
      <a href="/index.html" class="btn">Início</a>
  </section>
  </body>
</html>

